NODE_ENV="development"

DISCORD_BOT_TOKEN="xxxxxxxxxx"
APPLICATION_ID="1234567890123456789"

GOOGLE_SPREADSHEET_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
GOOGLE_SERVICE_ACCOUNT_EMAIL="xxxxxxxxxx@xxxxxxxxxx.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n-----END PRIVATE KEY-----\n"

LOG_WEBHOOK_URL="https://discord.com/api/webhooks/123456789012345/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"